<input type="text" [(ngModel)]="title">
{{ title }}

<input type="text" [(ngModel)]="power">
{{ power | exponential }}

<div *ngIf="title === 'gio'">
  Esto es gio
</div>

<div *ngIf="title === 'julian'">
  Esto es julian
</div>

<div *ngIf="title === 'camilo'">
  Esto es camilo
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'gio'">Este es gio</p>
  <p *ngSwitchCase="'julian'">Este es julian</p>
  <p *ngSwitchCase="'camilo'">Este es camilo</p>
  <p *ngSwitchDefault>no hay match</p>
</div>

<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>
  <li *ngFor="let name of items; index as i">
    {{ name }} {{ i }}
    <button (click)="deleteItem(i)">delete</button>
  </li>
</ul>
